---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <main>
        <Container>
            <div class="pt-28">
                <h2 class=" text-center text-3xl font-bold">Work In Progress</h2>
            </div>
        </Container>

       
	
	</main>
</Layout>