---
import Container from "./Container.astro"

---

<div id="expertise">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">

      
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
        Our Expertise in Action
      </h2>
      <p class="text-gray-600 dark:text-gray-300">Established in 2019, we have rapidly evolved into a dynamic force in the IT consulting landscape. Having a portfolio that includes over 15 enterprises and custom solutions, our roots are established in Australia, yet our impact resonates globally. </p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/128/11369/11369227.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Mosquito Management System
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Tackling challenges at the intersection of technology and environmental conservation.
            </p>
          </div>
        
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/128/3000/3000200.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Emergency Marker Management System
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Ensuring safety and preparedness through cutting-edge Geographic Information System solutions.

            </p>
          </div>
         
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer">
        <div class="relative space-y-8 py-12 p-8">
          <img
            src="https://cdn-icons-png.flaticon.com/128/10485/10485111.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Recruitment Management System
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Streamlining talent acquisition for optimized workforce dynamics.

            </p>
          </div>
       
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/9681/9681756.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            IT Service Management System
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Elevating operational efficiency with seamless IT service orchestration.
            </p>
          </div>
       
        </div>
      </div>
      <div
        class="group relative bg-white dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <img
            src="https://cdn-icons-png.flaticon.com/128/10438/10438381.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          />

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
            Asset Management System
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Elevating operational efficiency with seamless IT service orchestration.
            </p>
          </div>
       
        </div>
      </div>

      <div
      class="group relative bg-white dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer"
    >
      <div
        class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/128/2683/2683274.png"
          class="w-12"
          width="512"
          height="512"
          alt="burger illustration"
        />

        <div class="space-y-2">
          <h5
            class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
          >
          Business and Project Management System
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Enabling agile project execution and business process optimization.
          </p>
        </div>
     
      </div>
    </div>

      <div
      class="group relative bg-white dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer"
    >
      <div
        class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/128/9162/9162813.png"
          class="w-12"
          width="512"
          height="512"
          alt="burger illustration"
        />

        <div class="space-y-2">
          <h5
            class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
          >
          Digital Marketplace (Grain Exchange)
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Innovating commerce through digital marketplace solutions.


          </p>
        </div>
     
      </div>
    </div>
      <div
      class="group relative bg-white dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 cursor-pointer"
    >
      <div
        class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/128/2232/2232230.png"
          class="w-12"
          width="512"
          height="512"
          alt="burger illustration"
        />

        <div class="space-y-2">
          <h5
            class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
          >
          Configuration Management Database
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Orchestrating configurations for maximum system reliability.

          </p>
        </div>
     
      </div>
    </div>
   


    </div>


  
    
  </Container>
</div>