---
import Container from "./Container.astro";
---

<div id="services">
  <Container>
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
    >
      <div class="md:5/12 lg:w-[35%]">
        <img
          src="/business3d.png"
          alt="image"
          loading="lazy"
          width=""
          height=""
          class="w-full"
        />
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2
          class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        >
          Empowering You Through Comprehensive IT Consulting Services
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
          Unlocking your full potential through a comprehensive suite of
          services :
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20"
            >
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
              >
                Digital Transformation Strategy
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Crafting roadmaps for your digital journey.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
            >
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-teal-300"
              >
                GIS Solutions Optimization
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Maximizing the value of geospatial data for informed decisions.
              </p>
            </div>
          </div>

          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20"
            >
            </div>

            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-indigo-300"
              >
                IT Service and Asset Management
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Orchestrating IT operations for peak efficiency.
              </p>
            </div>
          </div>

          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
            >
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-teal-300"
              >
                Project and Business Management
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Navigating projects and business strategies toward success.
              </p>
            </div>
          </div>

          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20"
            >
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-teal-300"
              >
                Recruitment Process Enhancement
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Elevating talent acquisition for sustainable growth
              </p>
            </div>
          </div>

          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20"
            >
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-teal-300"
              >
                Web Development
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Weaving captivating digital experiences that leave a lasting
                impact.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-gray-600 md:mt-32">
      <h1
        class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl text-center mt-20"
      >
        Empowering Through Enterprise Tools
      </h1>
      <div class="mt-12 flex xl:gap-16 justify-center items-center">
        <div class="p-4">
          <img
            src="./images/tools/servicenow.png"
            class="md:w-32 w-28 mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 ">
          <img
            src="./images/tools/gcp.png"
            class="md:w-32 w-28 mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4">
          <img
            src="./images/tools/sharepoint.png"
            class="md:w-32 w-28 m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 ">
          <img
            src="./images/tools/aws.png"
            class="md:w-16 w-14 m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
      </div>
    </div>
  </Container>
</div>
